body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #666;
  background: -webkit-linear-gradient(0deg, #cccccc 30%, #666666 100%);
  background: -o-linear-gradient(0deg, #cccccc 30%, #666666 100%);
  background: -ms-linear-gradient(0deg, #cccccc 30%, #666666 100%);
  background: -moz-linear-gradient(0deg, #cccccc 30%, #666666 100%);
  background: linear-gradient(0deg, #cccccc 30%, #666666 100%);
  background-attachment: fixed;
}
.app {
  margin: 20px;
}
.container {
  margin-left: 10px;
}
.corptools-nav {
  background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background-attachment: fixed;
  border-bottom: 2px solid black;
}
.corptools-nav .navbar-brand {
  float: left;
  padding: 13px 15px;
  font-size: 22px;
  height: 50px;
  color: #BEFEE3;
}
.corptools-nav .navbar-nav > li > a {
  color: #3F736F;
}
.corptools-nav .navbar-nav > li > a:hover,
.corptools-nav .navbar-brand:hover {
  color: #95FFE5;
}
.corptools .page-header {
  margin: 20px 0 20px;
  color: #21325C;
  padding-bottom: 0px;
  border-bottom: 0;
}
.corptools .well {
  border: 1px solid #666;
  box-shadow: 2px 2px 3px #aaaaaa;
  color: #21325C;
}
.corptools .btn-file {
  position: relative;
  overflow: hidden;
}
.corptools .btn-file label {
  font-weight: normal;
  margin: 0;
}
.corptools .btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.corptools .btn-file-selected {
  font-style: italic;
  color: #999;
  margin-left: 10px;
}
.corptools .upload-logo {
  margin-right: 20px;
}
.color-picker-btn {
  position: relative;
  left: 190px;
  padding: 0px;
}
.color-picker-btn button {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.colorpicker-default input {
  width: 200px;
  margin-bottom: -34px;
}
@keyframes domChanged {
  from {
    background: yellow;
  }
}
@-webkit-keyframes domChanged {
  from {
    background: yellow;
  }
}
.ember-view {
  animation: domChanged 1s;
  -webkit-animation: domChanged 1s;
}
