<div class="corptools">
    <div class="navbar navbar-default navbar-fixed-top corptools-nav">
        <div class="container">
            <div class="navbar-header">
                <a href="./" id="" class="navbar-brand">llc tools</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Switch to <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li>{{#link-to 'manage'}}manage websites{{/link-to}}</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>

    {{outlet}}

</div>