
<!--edit/add company information-->

<div id="manage-websites" class="container-fluid">
    <div class="bs-docs-section">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3 id="forms">manage websites</h3>
                </div>
            </div>
        </div>

        <!--success message
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-block fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    <strong><i class="icon-ok-sign"></i> success!</strong>
                    <span class="smaller">a new website has been added</span>
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="well bs-component">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>website</th>
                                    <th>email</th>
                                    <th>live</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each}}
                                <tr class="gradeA">
                                    <td>{{#link-to 'edit.site' this.id}}edit{{/link-to}}</td>
                                    <td><a target="_blank" href="{{unbound this.company_www}}">{{this.company_name}}</a></td>
                                    <td>{{this.company_email}}</td>
                                    <td>{{this.live}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <button {{action 'addNew'}} class="btn btn-primary">add new site</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


